@charset "utf-8";
/* CSS salas */

/* --Fuentes-- Por defecto: Arial, Helvetica, sans-serif en contenido y 'Share', cursive en título*/  
  /* --Tipos sin serifa-- */
    @import url(http://fonts.googleapis.com/css?family=Share:400,700italic);
            /* -En CSS: font-family: 'Share', cursive !important; --- Líneas 50 para título y 33 para contenido- */
    @import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
            /* -En CSS: font-family: 'Archivo Narrow', sans-serif !important; --- Líneas 50 para título y 33 para contenido- */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
            /* -En CSS: font-family: 'Open Sans', sans-serif !important; --- Líneas 50 para título y 33 para contenido- */
    @import url(http://fonts.googleapis.com/css?family=Titillium+Web:600);
            /* -En CSS: font-family: 'Titillium Web', sans-serif !important; --- Líneas 50 para título y 33 para contenido- */
    @import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
            /* -En CSS: font-family: 'Raleway', sans-serif !important; --- Líneas 50 para título y 33 para contenido- */
			
  /* --Tipos con serifa y handwriting-- */
    @import url(http://fonts.googleapis.com/css?family=Rokkitt);
            /* -En CSS: font-family: 'Rokkitt', serif !important; --- Líneas 50 para título y 33 para contenido- */
    @import url(http://fonts.googleapis.com/css?family=PT+Serif);
            /* -En CSS: font-family: 'PT Serif', serif !important; --- Líneas 50 para título y 33 para contenido- */
    @import url(http://fonts.googleapis.com/css?family=Lobster);
            /* -En CSS: font-family: 'Lobster', cursive !important; --- Líneas 50 para título y 33 para contenido- */		
		
		
/* --Estilos generales y fondo-- */

body {
  background: #9C982A url(bg6.jpg) no-repeat;  /*--IMAGEN DE FONDO - DINÁMICO-- */
  background-color: #eeeeee !important; /* --COLOR FONDO - DINÁMICO-- */
  background-size: cover;
  color:#000 !important; /* --COLOR DEL TEXTO - DINÁMICO-- */
  font-family: 'Open Sans', sans-serif !important; /* --FUENTE DE CONTENIDO - DINÁMICO-- */
  font-size:1.3em !important; /* --TAMAÑO DE LETRA - DINÁMICO-- */
  font-weight:normal;  /* --GROSOR DEL TEXTO (Valores: normal / bold) -DINÁMICO-- */
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.60);
  }
  
.container {
	width: 100% !important;
	padding: 0px !important;
  }
  
.page-header {
	border-bottom: 0px !important;
   }

/* --Títulos-- */

h1 {
  font-family: 'Raleway', sans-serif !important; /* --FUENTE DE TÍTULO - DINÁMICO-- */
  text-align: right;
  padding: 0.1em 0.5em 0.1em 0.1em;
  margin: -0.9em 0 0 0 !important;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.5);
  background:url(logo.png) no-repeat;
  color: #000 !important; /* --COLOR DEL TÍTULO - DINÁMICO-- */
  letter-spacing: 0.05em;
  }

/* --Elementos-- */

#clock {
  margin-top: -1em;
  float:right;
  padding: 0.3em;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.5);
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom: 1px solid #fbfbfb;
  margin-right: 20px;
  }
 
#contenedor-sala {
  margin-top: -1em;
  margin-right: 10px;
  margin-left: 10px;
  float:right;
  padding: 0.1em;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.5);
  border-radius: 0.4em;
  border-bottom: 1px solid #fbfbfb;
  border-top: 1px solid #fbfbfb;
  font-size:0.9em !important;
  width: 100%;
  }

.destacado-thumbnail  {
  background: #ffa84c; /* Antiguos buscadores */
  background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.56);
  border: 1px solid #ddd;
  border-radius: 0.3em;
  display: block;
  line-height: 1.42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
  color:#fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.69);
  box-sizing: border-box;
  }

.destacado-thumbnail img{
  display: block ;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width:180px;
  height: 100px;
  vertical-align: middle;
  line-height: 1.42857;
  margin-left: auto;
  margin-right: auto;
  }

.thumbnail img{
  width:180px !important;
  height: 100px !important;
  }


.icosala img{
  width: 19px !important;
  height: 17px !important;
  float:left;
  }

.destacado-thumbnail p{
  margin: 0 0 0 1em;
  }

.well {
  max-width: 400px !important;
  margin: 0 auto 10px !important;
  }
 
.thumbnail p{
  margin: 0 0 0 1em;
  }

.text-muted {
   color:#fff !important;
   margin: 0.5em;
  }


/* --Tablas-- */

#head_table {
  background: rgb(255,255,255);
  background: rgba(255,255,255, 1);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.4);    
  background-image: -moz-linear-gradient(#fff,#ccc);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));   
  background-image: -webkit-linear-gradient(#fff, #ccc);
  background-image: -o-linear-gradient(#fff, #ccc);
  background-image: -ms-linear-gradient(#fff, #ccc);
  background-image: linear-gradient(#fff, #ccc);  
  text-transform: uppercase; 
  }

table td {
  border-bottom: 1px solid #fbfbfb;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.8);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
  vertical-align:middle !important;
  text-transform: uppercase;
  }

table tr:nth-child(odd) td {
  background: rgb(255,255,255);
  background: rgba(255,250,255, 0.8);
  }

table tr:nth-child(even) td {
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.1);
  }

table img {
  max-width: 100%;
  max-height: 100%;
  width:200px;
  height: 20px;
  }

/* --Adaptación Responsive-- */


@media 
only screen and (max-width: 550px),
(min-device-width: 400px) and (max-device-width: 550px)

{

h1 {
  font-size:1.5em !important;
  background: rgb(255,255,255) !important;
  background: rgba(255,255,255, 0.5) !important;
  background: none;
  text-align: left;
  }

#clock {
  position: absolute;
  top: -9999px;
  left: -9999px;
  }

table, th, td, tr { 
  display: block;
  }
		
#head_table{ 
  position: absolute;
  top: -9999px;
  left: -9999px;
  }

}
	
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)

{
  body { 
  padding: 0; 
  margin: 0; 
  width: 320px;
  }

}

/* --Estilos color (heredados)-- */

.ng-invalid.ng-dirty {
  border-color: red;
  }

.ng-valid.ng-dirty {
  border-color: green;
  }