<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TVIDI Menú</title>
    
    <!--Styles-->
    <link rel="stylesheet" type="text/css" href="css/turquesa.css">
    
    <!-- Bootstrap -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="tvidiApp">

<div class="container" ng-controller="MenuController">
    <div class="page-header">
        <h1>TVDI Menú</h1>
    </div>

    <div class="well">
        <button ng-click="openSettings()" id="btn-settings" type="button" class="btn btn-primary btn-lg btn-block">Settings</button>
        <button ng-click="openGeneral()" ng-show="settings.idHotel && settings.apiKey" id="btn-general" type="button" class="btn btn-primary btn-lg btn-block">Mostrar información general</button>
        <button ng-click="openSala()" ng-show="settings.idSala && settings.apiKey" id="btn-sala" type="button" class="btn btn-primary btn-lg btn-block">Mostrar información de sala</button>
    </div>

    <div class="well" ng-hide="settings.apiKey && settings.idHotel">
        <p ng-hide="settings.apiKey"><span class="glyphicon glyphicon-warning-sign"></span> No has definido aún una Api Key</p>
        <p ng-hide="settings.apiUrl"><span class="glyphicon glyphicon-warning-sign"></span> No has definido aún la Url de la Api</p>
        <p ng-hide="settings.idHotel"><span class="glyphicon glyphicon-warning-sign"></span> No has definido aún el ID del hotel</p>
    </div>

    <div class="footer">
        <div class="container">
            <p class="text-muted">created by yuido.com</p>
        </div>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="./app/app.js"></script>

</body>
</html>